* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-color: #262626;
}

/* Nav styles */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navigation-logo__container img {
  width: 80%;
}

.navigation-menu__container {
  padding: 2px;
  color: white;
}

.navigation-menu__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation-menu__item {
  list-style: none;
}

.navigation-menu__item a {
  color: white;
  font-weight: bold;
}

.navigation-menu__item a:hover {
  color: rgb(194, 188, 188);
}

/* primary/dark button styles */

.primary-button {
  background-color: #7d79f2;
  padding: 10px 30px;
  border-radius: 25px;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
}

.primary-button:hover {
  cursor: pointer;
  background-color: #8f8ce9;
}

.dark-button {
  background-color: #262626;
  padding: 10px 30px;
  border-radius: 25px;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
}

.dark-button:hover {
  cursor: pointer;
  background-color: #3a3939;
}

/* container for global use */

.container {
  width: 70%;
  margin: 0 auto;
}

/* banner styles */

.banner {
  display: flex;
  height: 90vh;
  border-radius: 0 0 200px 200px;
  overflow: hidden;
}

.banner-left__container {
  background-color: #514bf2;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 1.4em;
  text-align: center;
  position: relative;
  padding: 10px;
}

.banner-left__credits {
  position: absolute;
  bottom: 20px;
  right: 30px;
  font-size: 0.5em;
  color: white;
}

.autor a,
.platform a {
  color: white;
  transition: 0.2s;
  font-weight: bold;
}

.autor a:hover,
.platform a:hover {
  color: rgb(172, 170, 170);
}

.banner-left-img {
  margin: 50px auto;
}

.email-section input[type="text"] {
  padding: 10px 15px;
  border-radius: 25px;
  outline: none;
  border: none;
  margin: 10px 0;
}

.banner-right__container {
  overflow: hidden;
}

.banner-right-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* categories styles */
.categories__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  margin: 200px auto;
}

.categories__container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  overflow: hidden;
  transition: all ease-in-out 0.3s;
  object-fit: contain;
}

/* .category__title {
  position: absolute;
  color: white;
} */

.categories__container div:hover {
  cursor: pointer;
}

.categories__container div:nth-child(1) {
  grid-column: 1/3;
}

.categories__container div:nth-child(1) img {
  margin-top: 200px;
}

.categories__container div img {
  width: 100%;
  transition: 1s;
  object-fit: cover;
}

.categories__container div img:hover {
  transform: scale(1.2);
}

.categories__container div:nth-child(5) {
  grid-column: 2/4;
}

.categories__container div:nth-child(3) img,
.categories__container div:nth-child(4) img,
.categories__container div:nth-child(6) img {
  width: 100%;
  height: 100%;
}

.categories__container div:nth-child(5) img {
  margin-top: 300px;
}

/* contact section styles */

.contact-section {
  width: 100%;
  background-color: #514bf2;
  text-align: center;
  padding: 100px 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-contact {
  margin: 50px 0 0;
  padding: 15px 100px;
}

/* opinions styles */

.opinions-title {
  margin-top: 200px;
  text-align: center;
  font-size: 1.5em;
}
.opinions-container {
  margin: 50px auto 200px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.opinion-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #7d79f2;
  border-radius: 25px;
  padding: 50px 10px 100px 10px;
  text-align: center;
  height: 600px;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card-image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 20px auto;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

.card-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.opinion-content {
  width: 70%;
  color: white;
}

.opinion-content p {
  margin-top: 30px;
}

/* Footer styles */

footer {
  background-color: #262626;

  padding: 100px 0;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 100px;
}

.footer-logo__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links-section {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.links-section ul li {
  margin: 20px 0;
  font-size: 1.2em;
}

.links-section ul li:hover {
  font-weight: bold;
}

.links-section ul li a {
  color: white;
}

.social-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-section ul {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-section img {
  width: 80px;
}

.menu-logo {
  margin: 0 50px;
  display: none;
}

.menu-logo img {
  width: 50px;
}

/* Breakpoints */

@media (max-width: 1200px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .banner-left__container {
    font-size: 1.5em;
  }
  .opinions-container {
    width: 70%;
    grid-template-columns: 1fr;
  }

  .footer__container {
    grid-template-columns: 1fr;
  }

  .links-section {
    font-size: 1.3em;
  }

  .links-section,
  .social-section {
    margin: 80px;
  }

  .social-section ul {
    gap: 20px;
  }
}

@media (max-width: 800px) {
  .navigation-menu__container {
    display: none;
  }

  .menu-logo {
    display: block;
  }

  .banner {
    border-radius: 0;
  }

  .banner-left__container {
    font-size: 1em;
    width: 100%;
  }

  .banner-right__container,
  .banner-left__credits {
    display: none;
  }

  .categories__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .categories__container div:nth-child(1) {
    grid-column: initial;
  }

  .categories__container div:nth-child(5) {
    grid-column: initial;
  }

  .categories__container div:nth-child(1) img,
  .categories__container div:nth-child(5) img {
    margin-top: 0;
  }

  .opinions-container {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .categories__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .social-section ul {
    flex-direction: column;
  }

  .footer__container {
    padding: 0 10px;
  }
}

@media (max-width: 500px) {
  .categories__container {
    grid-template-columns: 1fr;
  }
}
